<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
 	<property file="C:/NMIMS_PROPERTY_FILE/ngasce.properties" />
 	
 	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %level %C{1.}.%M\(%line\) - %m%n
            </Pattern>
        </layout>
    </appender>
 	
    <appender name="gateway" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level  %C{1.}.%M\(%line\) - %m%n </Pattern>
        </encoder>
        
 		 <!-- rollover daily  -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${GATEWAY_LOG_PATH}/gateway/%d{yyyy-MM,aux}/gateway-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    
    <root level="info">
        <appender-ref ref="gateway" />
    </root>
    
</configuration>