<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
	<property name="catalina-base" value="${catalina.base}/logs/coursera_logs" />
 	
 	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %level %C{1.}.%M\(%line\) - %m%n
            </Pattern>
        </layout>
    </appender>
    
    <appender name="coursera" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level  %C{1.}.%M\(%line\) - %m%n </Pattern>
        </encoder>
        
 		 <!-- rollover daily  -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina-base}/coursera/%d{yyyy-MM,aux}/coursera-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    
    <appender name="coursera_saml_sso" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level  %C{1.}.%M\(%line\) - %m%n </Pattern>
        </encoder>
        
 		 <!-- rollover daily  -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina-base}/coursera_saml_sso/%d{yyyy-MM,aux}/coursera_saml_sso-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    
     <appender name="coursera_sync_trigger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level  %C{1.}.%M\(%line\) - %m%n </Pattern>
        </encoder>
        
 		 <!-- rollover daily  -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina-base}/coursera_sync_trigger/%d{yyyy-MM,aux}/coursera_sync_trigger-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    
    <root level="info">
      <!--	<appender-ref ref="console" />-->
		<appender-ref ref="coursera" />
    </root>
    
    <logger name="coursera_saml_sso" level="info" additivity="false">
        <appender-ref ref="coursera_saml_sso" />
    </logger>
    
     <logger name="coursera_sync_trigger" level="info" additivity="false">
        <appender-ref ref="coursera_sync_trigger" />
    </logger>

</configuration>