<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to Student Portal</title>
<link href="https://d3udzp2n88cf0o.cloudfront.net/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="https://d3udzp2n88cf0o.cloudfront.net/css/all.min.css"
	rel="stylesheet" />
<link href="../../css/style.css" rel="stylesheet" />

<style>
@media only screen and (min-width: 768px) {
	footer {
		position: absolute;
		bottom: 0px;
		width: 100%;
	}
}
</style>
</head>
<body>
	<!------------------------------------------------- NavBar ------------------------------------------------------->
	<div th:replace="./common/navbar.html :: headerNav('FORGOT PASSWORD')"></div>
	
	<!------------------------------------------- Forgot Password Form ----------------------------------------------->
	<div class="container">
		<h4 class="text-danger mt-4 mb-2">Forgot Password</h4>
		<div class="card mb-5">
			<div class="card-body">
				<div id="responsePopup"></div>
				<form id="change-password" action=""
					onSubmit="submitForm(event, this)">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<input type="text" class="form-control" id="userId" name="userId"
								placeholder="Enter Student Number" required />
						</div>
						<div class="col-sm-6">
							<button id="getPassBtn" type="submit" class="btn btn-danger btn-sm me-1">
								<b>GET MY PASSWORD</b>
							</button>
							<a href="/" class="btn btn-secondary btn-sm"><b>LOGIN
									AGAIN</b></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!--------------------------------------------------- Footer ------------------------------------------------------>
	<div th:replace="./common/footer.html"></div>
	
	<script type="text/javascript"
		src="https://d3udzp2n88cf0o.cloudfront.net/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="../../js/ie-polyfill.js"></script>
	<script type="text/javascript"
		src="../../js/forgotPassword.js"></script>
	<script type="text/javascript"
		src="../../js/logoutForSSO.js"></script>
</body>
</html>