<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
Get Status
	<form method="POST" action="https://secure.ebs.in/api/1_0"
		name="frmTransaction">
		<input name="Action" type="hidden" value="statusByRef"> <input
			name="AccountID" type="hidden" value="15478"> <input
			name="SecretKey" type="hidden" value="959a4be7d9e6c74a83714b457df5da06"> <input
			name="RefNo" type="hidden" value="123456789"> <input
			name="submitted" value="Submit" type="submit">
	</form>


</body>
</html>