
<footer>
	<div class="container-fluid bg-danger">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3 text-light pt-2">
				<h4 class="font-footer-header">Reach Us:</h4>
				<h3 class="font-footer-content">1800-1025-136 (Toll Free)</h3>
				<p class="font-footer-content-text">ngasce@nmims.edu</p>
			</div>

			<div class="col-12 col-md-6 col-lg-3 text-light pt-2">
				<h4 class="font-footer-header">Visit Us:</h4>
				<p class="font-footer-content">
					V.L.Mehta Road, Vile Parle (W) <br /> Mumbai, Maharashtra - 400056
				</p>
			</div>

			<div class="col-12 col-md-6 col-lg-3 text-light pt-2">
				<h4 class="d-flex justify-content-end font-footer-header">Connect
					with us:</h4>
				<ul class="list-unstyled list-inline d-flex justify-content-end">
					<li class="list-inline-item"><a
						href="https://www.facebook.com/NMIMSGlobal/"><i
							class="fab fa-facebook fa-color effect"></i></a></li>
					<li class="list-inline-item"><a
						href="https://twitter.com/NMIMSGlobal"><i
							class="fab fa-twitter fa-color effect"></i></a></li>
					<li class="list-inline-item"><a
						href="https://www.youtube.com/c/NMIMSGLOBAL"><i
							class="fab fa-youtube fa-color effect"></i></i></a></li>
					<li class="list-inline-item"><a
						href="https://www.linkedin.com/school/nmims-global/"><i
							class="fab fa-linkedin fa-color effect"></i></i></a></li>
					<li class="list-inline-item"><a
						href="https://www.instagram.com/nmimsglobal/"><i
							class="fab fa-instagram fa-color effect"></i></i></a></li>
				</ul>
			</div>

			<div class="col-12 col-md-6 col-lg-3 text-light pt-2">
				<h4 class="d-flex justify-content-end font-footer-header">Chat
					With US:</h4>
				<ul class="list-unstyled list-inline d-flex justify-content-end">
					<li class="list-inline-item"><a
						href="https://plus.google.com/u/0/116325782206816676798/posts"><i
							class="far fa-comments fa-color effect"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col text-light">
				<p class="text-center pb-4" style="font-size: 0.9rem;">© 2016
					NMIMS. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>