<div th:fragment="adminHeader" xmlns:th="http://www.thymeleaf.org/">
	<th:block
		th:with="mobileVisibleHeaderClass=${#strings.isEmpty(session.userId)} ? 'visibleHeader' : ''
,noOfAnnouncemntsInHeader=(!${#strings.isEmpty(session.announcementsPortal)} ? ${session.announcementsPortal.size()} : 0)
,hideProfileLink=${hideProfileLink},
userId=${session.userId}">
		<div class="sz-header" th:classappend="${mobileVisibleHeaderClass}">
			<div class="container-fluid">
				<div class="sz-logo">
					<img
						th:src="${@environment.getProperty('BASE_URL_STUDENTPORTAL_STATIC_RESOURCES')}+'assets/images/logo.png'"
						class="img-responsive" alt="" />
				</div>

				<ul class="sz-header-menu" th:if="${userId != null}">
					<li><a href="/logout"><span class="icon-logout"></span>Logout</a></li>
					<li class="notification-link"><a href="" data-toggle="modal"
						data-keyboard="true" data-target="#new-announcements"> <span
							class="icon-notification"><div class="notification-count"
									th:text="${noOfAnnouncemntsInHeader }"></div></span></a></li>
				</ul>
<!-- Announcements Modal -->
		<div id="new-announcements" class="modal fade" role="dialog"
			tabindex="-1" th:if="${noOfAnnouncemntsInHeader > 0}">
			<div class="modal-dialog modal-md">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Announcements</h4>
					</div>
					<div class="modal-body">
						<ul class="announcement-list">
							<th:block th:each="announcement,iter : ${session.announcementsPortal}">
							<li><a href="#" data-toggle="modal" data-dismiss="modal"
								th:attr="data-target='#announcementModal'+${iter.index}"> <!-- <li> <a href="#" onclick="return false;" style="cursor:default;"> -->

							<div th:with="announcemntBrief=(${#strings.length(announcement.description)} > 150 ? ${#strings.substring(announcement.description, 0, 149)+'...'} : ${announcement.description})">
												<h3 th:utext="${announcement.subject}"></h3>
												<p th:utext="${announcemntBrief}"></p>
												<h4 th:text="${announcement.startDate + ' by '}" style="display:inline"></h4><h4 style="display:inline"><span th:text="${announcement.category}"></span></h4>
											</div>
							</a></li>
							</th:block>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							data-toggle="modal" data-target="#announcementModalAll">See
							All</button>

						<!-- <button type="button" class="btn btn-default" onclick="window.location.href='/studentportal/getAllAnnouncementDetails'">See All</button> -->
					</div>
				</div>
			</div>
		</div>
				<div class="pull-right hidden-xs"
					th:unless="${userId != null}">
					<h2>Welcome to NGASCE Student Zone</h2>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!--header ends-->
		
<!--MODAL FOR ALL ANNOUNCEMENT-->
<div th:if="${noOfAnnouncemntsInHeader > 0 }">
<div class="modal fade announcementModalTop" id="announcementModalAll"
	tabindex="-1" role="dialog">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">ALL ANNOUNCEMENTS</h4>
			</div>
			<div class="modal-body">
				<ul>
				<th:block
						th:each="announcement,iter : ${session.announcementsPortal}">
				<li th:with="announcemntBrief=(${#strings.length(announcement.description)} > 150 ? ${#strings.substring(announcement.description, 0, 149)+'...'} : ${announcement.description})">
				<a href="#" data-toggle="modal" data-dismiss="modal" th:attr="data-target='#announcementModal'+${iter.index}"> <!-- <li> <a href="#" onclick="return false;" style="cursor:default;"> -->
					
							<h3 th:utext="${announcement.subject}"> </h3>
							<p th:utext="${announcemntBrief}"></p>

							<h4 th:text="${announcement.startDate + ' by '}" style="display:inline"></h4><h4 style="display:inline"><span th:text="${announcement.category}"></span></h4>
							
					</a></li>
					</th:block>


				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">DONE</button>
			</div>
		</div>
	</div>
</div>
</div>



<th:block th:each="announcement,iter : ${session.announcementsPortal}" th:if="${noOfAnnouncemntsInHeader > 0 }">
<div class="modal fade announcement" th:id="'announcementModal'+${iter.index}"
	tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-md">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">ANNOUCEMENTS</h4>
			</div>
			<div class="modal-body">
				<h6 th:utext="${announcement.subject}"></h6>
				<p th:utext="${announcement.description}"></p>

				<div th:if="${announcement.attachment1 != null}">
					<a target="_blank" th:href="${@environment.getProperty('ANNOUNCEMENT_PREVIEW_PATH') + announcement.attachmentFile1Name}" ><div th:text="${announcement.attachmentFile1Name}"></div> </a><br/>
				</div>
				<div th:if="${announcement.attachment2 != null}">
					<a target="_blank" th:href="${@environment.getProperty('ANNOUNCEMENT_PREVIEW_PATH') + announcement.attachmentFile2Name}" > <div th:text="${announcement.attachmentFile1Name}"></div></a><br/>
				</div>
				<div th:if="${announcement.attachment3 != null}">
					<a target="_blank" th:href="${@environment.getProperty('ANNOUNCEMENT_PREVIEW_PATH') + announcement.attachmentFile3Name}" > <div th:text="${announcement.attachmentFile1Name}"></div></a><br/>
				</div>

				<h4 class="small"  th:text="${announcement.startDate + ' by '}" style="display:inline"></h4><h4 style="display:inline"><a href="#"><span th:text="${announcement.category}"></span></a></h4>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">DONE</button>
			</div>
		</div>
	</div>
</div>
</th:block>
</th:block>
</div>