<div th:fragment="portal-time-spent" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-12 my-2">
			<div class="card chart-container w-100 h-100 m-auto">
				<h6 class="pt-3">Portal Time Spent Report (Week-wise)</h6>
			    <canvas id="week-chart"></canvas>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 col-12 my-2">
			<div class="card chart-container w-100 h-100 m-auto">
				<h6 class="pt-3">Portal Time Spent Report (Month-wise)</h6>
				<canvas id="month-chart"></canvas>
			</div>
		</div>
	</div>
</div>